<!-- <%- include('./partials/top') %>
<%- include('./partials/nav') %>
<section class="baseplate">    
    <% data.forEach(house => { %>
   
        
    <article class="houses">
    
    <ul>
        <li><img class="image-size" src="https://fdnd-agency.directus.app/assets/?field<%= house.poster_image %>" alt="image house"></li>
        <li><img class="Miniavatar">0</li>
      <li><%= house.street %> <%= house.house_nr %> <%= house.nr_addition %></li>
      <li><%= house.postal_code %></li> 
      <li><%= house.city %></li> 
      <li><%= house.price %></li> 
      <li><%= house.agent %></li> 
    </ul>

    </article>

   <% }); %>
</section> -->
