<%- include('./partials/top') %>

<section class="outer-rating">
    <article class="rating">
        <article class="top-rating">
            <button type="submit" title="close"> <%- include('./partials/crumbs.ejs') %> </button>
            <section class="list">
                <% data.forEach( user => {%>
                <ul>
                    <li><%= user.name %></li>
                    <li>
                    <picture>
                        <a href="#"><source srcset=https://fdnd-agency.directus.app/assets/<%=userRating.avatar%>?format=avif"></a>
                    <><img class="image-size" src="https://fdnd-agency.directus.app/assets/<%=user.avatar%>"></> </li>
                    </picture>
                    </li>
                </ul>
                <% }); %>
        </article>

        <article class="main-rating">
            <form class="form-check-inline" method="post">
                <div class="common">
                    <%- include('./partials/rating', {type: 'Algemeen'}) %><h2>Algemeen</h2>
                </div>

                <ul>
                    <li><%- include('./partials/getrating', {type: 'Keuken'}) %><p>Keuken</p>
                    </li>
                    <li><%- include('./partials/getrating', {type: 'Tuin'}) %><p>Tuin</p>
                    </li>
                    <li><%- include('./partials/getrating', {type: 'Ligging'}) %><p>Ligging</p>
                    </li>
                    <li><%- include('./partials/getrating', {type: 'Badkamer'}) %><p>Badkamer</p>
                    </li>
                    <li><%- include('./partials/getrating', {type: 'Prijs'}) %><p>Prijs</p>
                    </li>
                    <li><%- include('./partials/getrating', {type: 'Oppervlakte'}) %><p>Oppervlakte</p>
                    </li>
                </ul>
            </form>
        </article>

        <article class="notes">
            <h1>Notities</h1>
            <form action="#" id="notities" method="get">
                <ul>
                    <li>hOI</li>
                </ul>
            </form>
        </article>

    </article>

</section>

<%- include('./partials/foot') %>