<article class="outer-person-rating">
<section>
    <button>
        <
    </button>
    <button>
        X
    </button>
    <img src="" alt="">
    <h1>Name</h1>
</section>

<section>
    <section class="main-person-rating">
        <form class="form-check-inline" method="post">
        <%- include('./partials/rating', {type: 'Algemeen'}) %><h2>Algemeen</h2>
        <ul>
            <li><%- include('./partials/rating', {type: 'Keuken'}) %><p>Keuken</p></li>
            <li><%- include('./partials/rating', {type: 'Tuin'}) %><p>Tuin</p></li>
            <li><%- include('./partials/rating', {type: 'Ligging'}) %><p>Ligging</p></li>
            <li><%- include('./partials/rating', {type: 'Badkamer'}) %><p>Badkamer</p></li>
            <li><%- include('./partials/rating', {type: 'Prijs'}) %><p>Prijs</p></li>
            <li><%- include('./partials/rating', {type: 'Oppervlakte'}) %><p>Oppervlakte</p></li>
            <li><button type="submit"><p>+ Voeg critirea toe</button></p></li>
        </ul>
    </form>
</section>
    
<section class="person-notes">
    <ul>
            <li>
                <!---foreach--->
            </li>


        </ul>


    </section>





</article>