<%- include('./partials/top') %>

<section class="outer-rating">

<article class="rating">
    <article class="top-rating">
    <button type="submit" title="close"> <%- include('./partials/closebutton') %> </button>
</article>

<section class="users">
<% data.forEach( userRating => {%>
    <ul>
      <li><%= userRating.name %></li> 
        <li><img class="image-size" src="https://fdnd-agency.directus.app/assets/<%=userRating.avatar%>"> </li>
    </ul>
  <% }); %>
</section>

<article class="main-rating">
    <form class="form-check-inline" method="post">

<div class="common">
    <%- include('./partials/rating', {type: 'Algemeen'}) %><h2>Algemeen</h2>
</div>
    
<ul>
 <li><%- include('./partials/rating', {type: 'Keuken'}) %><p>Keuken</p></li>
 <li><%- include('./partials/rating', {type: 'Tuin'}) %><p>Tuin</p></li>
 <li><%- include('./partials/rating', {type: 'Ligging'}) %><p>Ligging</p></li>
 <li><%- include('./partials/rating', {type: 'Badkamer'}) %><p>Badkamer</p></li>
 <li><%- include('./partials/rating', {type: 'Prijs'}) %><p>Prijs</p></li>
 <li><%- include('./partials/rating', {type: 'Oppervlakte'}) %><p>Oppervlakte</p></li>
 <li><button type="submit"><p>+ Voeg critirea toe</button></p></li>
</ul>
    </form>
    </article>
    <article class="notes">
    <h1>Notities</h1>
        <form action="/ratings" id="notities" method="post"> 
            <label for="notities">Maak notitie aan</label>
                <textarea name="notities" form="notities"></textarea>
                <input type="submit" value="Opslaan">
                <input type="submit" value="Verwijderen">
        </form>
</article>

</article>

</section>

<p><%- include('./partials/foot') %></p>

